<div *ngIf="auth.user | async; then authenticated else guest">

</div>

<ng-template #authenticated>
  <div style="height: 100vh;">
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <a mat-button class="companyName" routerLink="/">
        <span class="text-danger text-bel">Admin</span>
        <span>Belissima </span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <mat-toolbar-row *ngIf="auth.user | async as user">
          <a *ngIf="user.role === 'customer'" routerLinkActive="active" routerLink="/orders" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            Pedidos
          </a>
          <a *ngIf="user.role === 'admin' || user.role === 'editor'" routerLinkActive="active" routerLink="/admin" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            Administración
          </a>
          <a routerLinkActive="active" routerLink="/shop" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            Tienda
          </a>
          <a *ngIf="user.role === 'customer'" routerLinkActive="active" routerLink="/cart" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Carrito
            <!--  ({{ cart?.totalProducts }}) -->
          </a>
          <a (click)="auth.signOut()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Salir
          </a>
        </mat-toolbar-row>

      </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">

      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <mat-toolbar-row *ngIf="auth.user | async as user">

            <a *ngIf="user.role === 'customer'" routerLinkActive="active" routerLink="/orders" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              Pedidos
            </a>
            <a *ngIf="user.role === 'admin' || user.role === 'editor'" routerLinkActive="active" routerLink="/admin" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-user-secret" aria-hidden="true"></i>
              Administración
            </a>
            <a routerLinkActive="active" routerLink="/shop" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              Tienda
            </a>
            <a *ngIf="user.role === 'customer'" routerLinkActive="active" routerLink="/cart" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Carrito
              <!--  ({{ cart?.totalProducts }}) -->
            </a>
            <a (click)="auth.signOut()">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Salir
            </a>
          </mat-toolbar-row>

        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        Awesome content
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>
</ng-template>

<ng-template #guest>

  <div style="height: 100vh;">
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <a mat-button class="companyName" routerLink="/">
        <span class="text-danger text-bel">Admin</span>
        <span>Belissima </span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        
        <mat-toolbar-row *ngIf="auth.user | async as user">
          <a routerLinkActive="active" routerLink="/shop" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            Tienda
          </a>
          <a routerLinkActive="active" routerLink="/login" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login
          </a>
          <a routerLinkActive="active" routerLink="/register" [routerLinkActiveOptions]="{exact:true}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Registro
          </a>
        </mat-toolbar-row>

      </div>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">

      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <mat-toolbar-row *ngIf="auth.user | async as user">

            <a routerLinkActive="active" routerLink="/shop" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              Tienda
            </a>
            <a routerLinkActive="active" routerLink="/login" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Login
            </a>
            <a routerLinkActive="active" routerLink="/register" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Registro
            </a>
          </mat-toolbar-row>

        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        Awesome content
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>

</ng-template>
