<mat-tab-group *ngIf="auth.user | async as user">
  <mat-tab label="Admistrar Productos" *ngIf="user.role === 'admin' || user.role === 'editor'">
    <app-products></app-products>

  </mat-tab>
  <mat-tab label="Admistrar Categorias" *ngIf="user.role === 'admin' || user.role === 'editor'">
    <app-category></app-category>

  </mat-tab>
  <mat-tab label="Admistrar Clientes" *ngIf="user.role === 'admin' || user.role === 'editor'">
    <app-customers></app-customers>

  </mat-tab>
  <mat-tab label="Admistrar Usuarios" *ngIf="user.role === 'admin' || user.role === 'editor'">

    <app-users></app-users>
  </mat-tab>
  <mat-tab label="Admistrar Pedidos" *ngIf="user.role === 'admin' || user.role === 'editor'">

    <app-orders></app-orders>
  </mat-tab>
</mat-tab-group>
