<button mat-raised-button color="accent" (click)="addOrder()">Añadir Pedido</button>
<div class="mat-elevation-z8">
  <div>
    <mat-form-field class="full-width">

      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar la Tabla" />

    </mat-form-field>

    <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackById" class="animate">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-short-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let order">{{order.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="create_at">
        <mat-header-cell *matHeaderCellDef mat-short-header>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let order">{{order.create_at}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-short-header>ImportePedido</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.amount}} Bs</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-short-header>Estado</mat-header-cell>
          <mat-cell *matCellDef="let order">{{order.state}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalProducts">
            <mat-header-cell *matHeaderCellDef mat-short-header>Cantidad</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.totalProducts}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="uid">
            <mat-header-cell *matHeaderCellDef mat-short-header>UsuarioUid</mat-header-cell>
            <mat-cell *matCellDef="let order">{{order.uid}}</mat-cell>
          </ng-container>

      

      

      <ng-container matColumnDef="detail">
        <mat-header-cell *matHeaderCellDef>Detalle</mat-header-cell>
        <mat-cell *matCellDef="let category">
          <button mat-raised-button color="primary" (click)="openDialog(category)">Detail</button>
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
        <mat-cell *matCellDef="let category">
          <div *ngIf="auth.user | async as user">
            <button mat-raised-button color="warn" *ngIf="user.role === 'admin'" (click)="remove(category)">Delete</button>
            <p *ngIf="user.role !== 'admin'"> No tienes Permisos </p>
          </div>

        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>

    </mat-table>
  </div>
</div>

